@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */

.wrapper {
    justify-content: space-between;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 104px;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  
@keyframes scrollLeft {
    to {
        left: -300px;
    }
}

.item {
    position: absolute;
    left: max(calc(300px * 6), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media (min-width: 1024px) {
    .item { left: max(calc(300px * 11), 100%); }
}